.MainPhoto {
    background-image: url("../img/main_photo.jpg");
    background-size: cover; /* 画面いっぱいに広がるように調整 */
    background-position: center; /* 画像を中央に配置 */
    width: 100%; /* 要素の幅を100%に設定 */
    height: auto; /* 要素の高さを画面の高さに合わせる */
}
@media(min-width:751px){
    .MainPhoto{
        height: 600px;
    }
}
@media (max-width: 750px) {
    .logo p {
        margin: 5px 18px; /* 上下のマージンを追加 */
        font-size: 11px;
        color: white;
    }
    .logo{
        position: fixed;
    }
    .logo_fleur {
        display: flex;
        justify-content: center;
        align-items: center; /* 横方向に中央寄せ */
    }

    .top_text{
        margin-top: -30px;
        margin-left: -190px;
    }
    .top_text p{
        font-size: 30px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(255, 253, 253);
        text-shadow: 1px 1px 1px #cbcbcb;
    }
    #top_logo_fleur {
        width: 100%; /* 画像を横幅100%に */
        height: 100vh; /* 要素の高さを画面の高さに合わせる */
    }

    .main{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        padding: 10px;
    }

    .main_concept h2{
        font-size: 30px;
        text-decoration: underline;
        margin-bottom: 0px;
        color: white;
        text-decoration-color: white;
        text-shadow: 1px 2px 3px #cbcbcb;
    }
    .main_concept p{
        font-size: 18px;
        color: white;
        text-shadow: 1px 2px 3px #cbcbcb;
        font-weight: 300;
    }
    .concept_txt{
        width: 85%;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px;
        
    }
    .concept_txt p{
        color: rgb(70, 70, 70);
        font-size: 12px;

    }
    #concept_txt_main{
        color: rgb(70, 70, 70);
        font-size: 18px;
        font-weight: bolder;
    }
    .main2{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        padding: 10px;
    }
    .story01{
        display: flex;
        justify-content: center;
    }
    .story1{
        width: 50%;
        height: 175px;
        background-color: aqua;
        border-radius: 5px;
        background-image: url("../img/story1.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
    }
    .story2{
        width: 50%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-left: -20px;
        margin-top: 20px;
        border-radius: 5px;
        text-shadow: 1px 2px 3px #cbcbcb;
        padding: 5px;
    }
    .story2 p{
        color: rgb(70, 70, 70);
        font-size: 12px;
        margin-top: -5px;
    }
    #story_txt{
        color: rgb(70, 70, 70);
        font-size: 15px;
        font-weight: bold;
    }
    .story02{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .story11{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        background-image: url("../img/story2.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        position: relative;
        z-index: 1;
    }
    .story22{
        width: 50%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-top: -20px;
        margin-right: -20px;
        text-shadow: 1px 2px 3px #cbcbcb;
        padding: 5px;
        position: relative;
        z-index: 2;
    }
    .story22 p{
        color: rgb(70, 70, 70);
        font-size: 12px;
        margin-top: -5px;
    }

    .main3{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        padding: 10px;
    }
    .news_txt{
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        text-shadow: 1px 2px 3px #cbcbcb;
        padding: 5px;
    }
    .news_txt a{
        color: rgb(70, 70, 70);
        font-size: 15px;
        margin-top: -5px;
        text-decoration: underline;
    }

    .main4{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        padding: 10px;
    }
    .afl{
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .afl_p{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        background-image: url("../img/afl.jpeg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
    }
    .afl_t{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        margin-left: 10px;
        color: rgb(70, 70, 70);
        font-size: 13px;
    }
    .afl2{
        padding:15px;
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .afl2 p{
        color: rgb(70, 70, 70);
        font-size: 14px;
        font-weight: 600;
    }
    #afl_txt_r{
        color: rgb(70, 70, 70);
        font-size: 12px;
        font-weight: 200;
    }
    .afl_btn{
        margin-top: -30px;
        border-radius: 5px;
        width: 100%;
        height:30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(0, 185, 0);
        font-size: 15px;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }


    .cl{
        margin-top: 30px;
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .cl_p{
        margin-top: 1px;
        width: 50%;
        height: 175px;
        border-radius: 5px;
        background-image: url("../img/cl.png");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
    }
    .cl_t{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        margin-left: 10px;
        color: rgb(70, 70, 70);
        font-size: 13px;
    }
    .cl2{
        padding:15px;
        width: 100%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .cl2 p{
        color: rgb(70, 70, 70);
        font-size: 14px;
        font-weight: 600;
    }
    #cl_txt_r{
        color: rgb(70, 70, 70);
        font-size: 12px;
        font-weight: 200;
    }
    .cl_btn{
        margin-top: -30px;
        border-radius: 5px;
        width: 100%;
        height:30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(0, 185, 0);
        font-size: 15px;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }

    .cf{
        margin-top: 30px;
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .cf_p{
        margin-top: 1px;
        width: 50%;
        height: 175px;
        border-radius: 5px;
        background-image: url("../img/cf.png");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
    }
    .cf_t{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        margin-left: 10px;
        color: rgb(70, 70, 70);
        font-size: 13px;
    }
    .cf2{
        padding:15px;
        width: 100%;
        height: 260px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .cf2 p{
        color: rgb(70, 70, 70);
        font-size: 14px;
        font-weight: 600;
    }
    #cf_txt_r{
        color: rgb(70, 70, 70);
        font-size: 12px;
        font-weight: 200;
    }
    .cf_btn{
        margin-top: -30px;
        border-radius: 5px;
        width: 100%;
        height:30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(0, 185, 0);
        font-size: 15px;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }
    #cf_txt_r_2{
        margin-bottom: 3px;
    }
    #cf_txt_r_3{
        margin-top: 3px;
    }

    .main4_2{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        padding: 10px;
    }
    .main_concept_2 h2{
        font-size: 30px;
        text-decoration: underline;
        margin-bottom: 0px;
        color: white;
        text-decoration-color: white;
        text-shadow: 1px 2px 3px #cbcbcb;
    }

    .cafl{
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .cafl_p{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        background-image: url("../img/cafl.png");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
    }
    .cafl_t{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        margin-left: 10px;
        color: rgb(70, 70, 70);
        font-size: 13px;
    }
    .cafl2{
        padding:15px;
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .cafl2 p{
        color: rgb(70, 70, 70);
        font-size: 14px;
        font-weight: 600;
    }
    #cafl_txt_r{
        color: rgb(70, 70, 70);
        font-size: 12px;
        font-weight: 200;
        margin-top: -10px;
    }
    .cafl_btn{
        margin-top: -30px;
        border-radius: 5px;
        width: 100%;
        height:30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(0, 185, 0);
        font-size: 15px;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }

    .aw{
        margin-top: 30px;
        width: 100%;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    .aw_p{
        margin-top: 1px;
        width: 50%;
        height: 175px;
        border-radius: 5px;
        background-image: url("../img/aw.png");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
    }
    .aw_t{
        width: 50%;
        height: 175px;
        border-radius: 5px;
        margin-left: 10px;
        color: rgb(70, 70, 70);
        font-size: 13px;
    }
    .aw2{
        padding:15px;
        width: 100%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .aw2 p{
        color: rgb(70, 70, 70);
        font-size: 14px;
        font-weight: 600;
    }
    #aw_txt_r{
        color: rgb(70, 70, 70);
        font-size: 12px;
        font-weight: 200;
    }
    .aw_btn{
        margin-top: -30px;
        border-radius: 5px;
        width: 100%;
        height:30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(0, 185, 0);
        font-size: 15px;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }
    .main_concept4_2{
        margin-top: 30px;
        padding:15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
        border: ridge;
    }

    .main5{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        padding: 10px;
    }
    .main_concept4_2{
        padding:15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
        border: ridge;
    }
    .main_concept5{
        padding:15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
        border: ridge;
    }
    .main_concept5 h2{
        text-align: center;
        border: double;
    }

    .main_concept5_1{
        padding:15px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        margin-bottom: 30px;
        border: ridge;
    }
    .main_concept5_1 h2{
        text-align: center;
        border: double;
    }

    .main6{
        background-image: url("../img/main_photo.jpg");
        background-size: cover; /* 画面いっぱいに広がるように調整 */
        background-position: center; /* 画像を中央に配置 */
        width: 100%; /* 要素の幅を100%に設定 */
        height: 800px;
        padding: 10px;
    }
    .main_concept6{
        padding:15px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .main_concept6 h2 {
        font-size: 30px;
        text-decoration: underline;
        margin-bottom: 0px;
        color: white;
        text-decoration-color: white;
        text-shadow: 1px 2px 3px #cbcbcb;
    }
    .main_concept6 p {
        color: rgb(70, 70, 70);
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .news_txt2{
        width: 100%;
        height: 240px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        text-shadow: 1px 2px 3px #cbcbcb;
        padding: 10px;
    }
    #btn_txt{
        text-align: center;
        font-weight: bold;
    }
}

.logo{

}